/* ----------------------------
  ------ container ------------
  -----------------------------*/

$container-width: 144rem;
.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 1.5rem;
}
