/* -------------------------- 
   ---- colors --------------  
   --------------------------*/
$colors: (
  "orange": orange,
  "blue": blue,
  "red": #ff0000,
);

@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }
  .bg-#{$key} {
    background-color: $val;
  }
  // generate 10 light grades
  @for $i from 0 to 10 {
    .text-#{$key}-light-#{$i} {
      color: mix(#fff, $val, $i * 10);
    }
    .bg-#{$key}-light-#{$i} {
      background-color: mix(#fff, $val, $i * 10);
    }

    .text-#{$key}-dark-#{$i} {
      color: mix(#000, $val, $i * 10);
    }
    .bg-#{$key}-dark-#{$i} {
      background-color: mix(#000, $val, $i * 10);
    }
    // hover effect on buttons
    .btn.bg-#{$key}-light-#{$i}:hover {
      background-color: mix(#fff, $val, $i * 5);
    }
    .btn.bg-#{$key}-dark-#{$i}:hover {
      background-color: mix(#000, $val, $i * 5);
    }
  }
}
