@use "./../../variables/typography" as *;
$hover-color: #222;
.btn {
  padding: 1rem;
  font-size: calc($font-base * 2.5);
  cursor: pointer;
  transition: all 0.3s;
}

.btn.outlined {
  border: 3px solid currentColor;
  background-color: transparent;
}

.btn.outlined:hover {
  border: 3px solid transparent;
  color: $hover-color;
  background-color: #fff;
}
